body,
html {
    margin: 0;
}

html {
    height: 100%;
}

body {
    padding-left: 1rem;
    /* padding-top: 2rem; */
    height: inherit;
    max-width: 800px;
    margin: 0 auto;
    background-color: #353535;
    color: #e6e6e6;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

h1,
p,
a {
    font-family: sans-serif;
    color: #e6e6e6;
    max-width: 35rem;
}

a {
    font-size: clamp(1rem, 10vw, 2rem);
}

h1 {
    font-size: clamp(1rem, 10vw, 2.3rem);
}

img {
    display: none;
    width: 120px;
    margin-left: -1.3rem;
    margin-top: -1rem;
    margin-bottom: -4rem;
}

button {
    border: none;
    border-radius: 10px;
    color: #e6e6e6;
    padding: 1rem;
    background-color: #c0392b;
}

.output {
    font-size: clamp(1rem, 10vw, 1.3rem);
}

.hints {
    font-size: clamp(1rem, 10vw, 1.6rem);
}

#repeatDiv {
    display: none;
}

#voiceBtn {
    margin-top: 1rem;
}